{% extends 'base.html' %}
 
{% block content %}

<div class="container_login forms">
    <div class="form signup">
        <div class="form-content">
            <h1>Регистрация</h1>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{next}}"/>
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                <div class="field input-field">
                    <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}</label>{{f}}</p>
                    {% if f.label == 'Пароль' or f.label == 'Повтор пароля' %}
                    <i class='bx bx-hide eye-icon'></i>
                    {% endif %}
                </div>
                <div class="form-error">
                    {{ f.errors }}
                </div>
                {% endfor %}
                <div class="field button-field" >
                    <button type="submit">Зарегистрироваться</button>
                </div>
            </form>
            <div class="form-link">
                <span>Уже есть аккаунт? <a href="{% url 'users:login' %}" class="link login-link">Войти</a></span>
            </div>
        </div>
    </div>
</div>



{% endblock %}