@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-items: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
    justify-items: center;
    min-height: calc(100vh - 192px);
    padding: 20px 60px;
    gap: 20px;
}

.card {
    width: 100%;
    max-width: 250px;
    position: relative;
    padding: 16px;
    text-align: center;
    margin-inline: 20px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.description a {
    text-align: center;
    color: black;
}

.description h5 {
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.heading {
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    padding: 40px;
    color: white;
}

/* header */
header img {
    border-radius: 100px;
    width: 160px;
}

header {
    position: relative;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    border-radius: 150px;
    width: 160px;
    height: 160px;
}

.navigation {
    display: flex;
}

.navigation .btn {
    position: relative;
    font-size: 1.4em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-inline: 30px;
}

.navigation .btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .2s;
}

.navigation .btn:hover::after {
    transform: scaleX(1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    border: none;
    border-radius: 5px;
    position: absolute;
    background-color: #ffffff;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .btnSpisok {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 1.4em;
}

.dropdown-content .btnSpisok:hover {
    border-radius: 5px;
    background-color: #dfdfdf;
}

.dropdown:hover .dropdown-content {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1014px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .container_main {
        grid-template-columns: repeat(2, 1fr);
    }

    .jewelry-item {
        flex-direction: column;
        align-items: center;
    }

    .images img {
        width: 100%;
        height: auto;
    }
    .navigation .btn {
        font-size: 1.1em;
    }
    .dropdown-content .btnSpisok {
        font-size: 1.1em;
    }
}

@media (max-width: 896px) {

  .container {
    grid-template-columns: repeat(1, 1fr);
}

.container_main {
    grid-template-columns: repeat(1, 1fr);
}

header {
    flex-direction: column;
}

.navigation {
    flex-direction: column;
    align-items: center;
}

.navigation .btn {
    margin-inline: 30px;
    margin-bottom: 5px;
    
}

.dropdown {
    margin-inline: 30px;
    margin-bottom: 5px;
}

}


@media (max-width: 576px) {
    .card {
        margin-inline: 0;
    }

    .container_login, .container_add_product, .jewelry-container {
        padding: 20px;
    }

    .form {
        padding: 20px 10px;
    }

    .form-input, .form-button {
        width: 100%;
        font-size: 16px;
    }

    .form-label {
        display: block;
        margin-bottom: 5px;
    }

    .jewelry-item {
        flex-direction: column;
        align-items: center;
    }

    .images img {
        width: 100%;
        height: auto;
    }
}

/* catalog */

.container_main {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px;
  background: #fff;
}

.catalog-item {
  text-align: center;
}

.catalog-item a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s;
}

.catalog-item img {
  width: 350px;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.catalog-item h2 {
  margin: 10px 0;
}

.catalog-item a:hover img {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a:active img {
  transform: scale(0.95);
}

/* Media Queries */
@media (max-width: 1200px) {
  .container_main {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 992px) {
  .container_main {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .catalog-item img {
      max-width: 250px;
  }
}

@media (max-width: 768px) {
  .container_main {
      padding: 10px;
  }

}

@media (max-width: 576px) {
  .container_main {
      padding: 5px;
      gap: 10px;
  }

  .catalog-item h2 {
      font-size: 1.5em;
  }
}


/* sign */
.container_login {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 0px);
    padding: 20px 60px;
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    border-radius: 6px;
    background: #FFF;
}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

h1 {
    text-align: center;
}

form {
    margin-top: 30px;
    width: 600px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #016dcb;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* add_product */
.container_add_product {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 0px);
    padding: 20px 60px;
}

.container_add_product p {
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    max-width: 450px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    width: 100%;
    max-width: 200px;
    font-size: 16px;
}

/* Footer */
.footer {
    position: relative;
    width: 100%;
    background: #585858;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    margin-bottom: 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
    height: 60px;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.2s;
    height: 30px;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

/* card */
.jewelry-container {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 0px);
    padding: 20px 60px;
}

.jewelry-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.images {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images img {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.details {
    flex: 2;
    padding: 20px;
}

.details h2 {
    margin-top: 0;
    color: #000000;
}

.details p {
    margin: 10px 0;
}

.details p strong {
    color: #000000;
}
/* end card */

/* about */

.container_about {
    position: relative;
    display: flex;
    min-height: calc(100vh - 0px);
    padding: 20px 60px;
    flex-direction: column;
    align-items: center;
}

/* end about */

/* navigation */

.button-container {
    display: flex;
    gap: 20px; /* Расстояние между кнопками */
    justify-content: center;
}

.round-button {
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
    border-radius: 50%;
    background-color: #585858;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.round-button:hover {
    background-color: #787878;
}

.round-button:active {
    background-color: #787878;
}

.page-num-selected {
    background-color: #b5b5b5; /* Цвет для выбранной кнопки */
    cursor: default; /* Курсор не меняется */
    pointer-events: none; /* Отключить возможность клика */
}

@media (max-width: 576px) {
    .button-container {
        gap: 5px; /* Расстояние между кнопками */
    }
    
    .round-button {
        width: 40px;
        height: 40px;
    }

  }



